<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инфо Про</title>
</head>
<body>
    <h3><a href="{% url 'files-upload' %}">На главную</a></h3>
    <h3><a href="{% url 'admin:index' %}">Админка</a></h3>
    {% block all_files %}
    <a href="{% url 'files-all' %}">Все файлы</a>
    {% endblock all_files %}
    {% block content %}
    {% endblock content %}
</body>
</html>